<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/assets/style/normalize.css}">
  <link rel="stylesheet" th:href="@{/assets/style/main.css}">
  <title>Albums</title>
</head>

<body>
  <header>
    <nav th:replace="fragments/fragments :: nav"></nav>
    <section class="hero">
      <div class="heroImgBox">
        <img class="heroImg" th:src="@{/assets/img/albums-banner.jpg}" alt="Banner Image">
      </div>
      <div class="heroOverlay"></div>
      <div class="heroTextBox">
        <h1 class="heroTitle">These Three Albums</h1>
      </div>
    </section>
  </header>

  <main class="albums">
    <section>
      <div class="tab-btn">
        <ul class="group-btn">
          <li class="tab active" id="albumsTab">
            <button class="btntab tab-btn" id="albumsBtn">Albums</button>
          </li>
          <li class="tab" id="addAlbumTab">
            <button class="btntab tab-btn" id="addAlbumBtn">Add Album</button>
          </li>
        </ul>
      </div>
    </section>

    <section id="addAlbum" class="hide">
      <form th:action="@{/albums}" method="POST" class="boxForm">
        <label>Title:</label>
        <input type="text" name="title" placeholder="" required />
        <label>Artist:</label>
        <input type="text" name="artist"  placeholder="" required />
        <label>Song Count:</label>
        <input type="number" name="songCount"  placeholder="" required />
        <label>Length:</label>
        <input type="text" name="length"  placeholder="" required />
        <label>Image URL:</label>
        <input type="text" name="imageUrl"  placeholder="" required />
        <input type="submit" name="submit" class="btn btnSubmit">
      </form>
    </section>

    <section id="albums" class="">
      <section class="cards">
        <div th:each="album : ${albums}" class="card">
          <img th:alt="${album.title}" th:src="${album.imageUrl}">
          <div class="cardInfo">
            <p th:text="'Album Title: ' + ${album.title}"></p>
            <p th:text="'Artist: ' + ${album.artist}"></p>
            <p th:text="'Number of Songs: ' + ${album.songCount}"></p>
            <p th:text="'Album Length: ' + ${album.length}"></p>
            <a th:href="'song/' + ${album.id}" th:text="'Add New Song to ' + ${album.title}"></a>
          </div>
            <ol>
            <li th:each="song: ${album.songs}">
              <p th:text="${song.title} + ': ' + ${song.length} + ' seconds'"></p>
            </li>
          </ol>
        </div>
      </section>
    </section>
  </main>
  <div class="whiteSpace"></div>
  <script th:src="@{/assets/js/main.js}"></script>
</body>

</html>