<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/assets/style/normalize.css}">
  <link rel="stylesheet" th:href="@{/assets/style/main.css}">
  <title>Albums</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <span class="navbarToggle" id="navbarToggle">
        <i class="menuIcon"></i>
      </span>
      <a th:href="@{/}" class="logo">Songr</a>
      <ul class="main" id="menu">
        <li><a th:href="@{/}" class="menuLink">Home</a></li>
        <li><a th:href="@{/hello}" class="menuLink">Hello</a></li>
        <li><a th:href="@{/capitalize/test text}" class="menuLink">capitalized</a></li>
        <li><a th:href="@{/albums}" class="menuLink">albums</a></li>
      </ul>
    </nav>
    <section class="hero">
      <div class="heroImgBox">
        <img class="heroImg" th:src="@{/assets/img/albums-banner.jpg}" alt="Banner Image">
      </div>
      <div class="heroOverlay"></div>
      <div class="heroTextBox">
        <h1 class="heroTitle">These Three Albums</h1>
      </div>
    </section>
  </header>

  <main>
    <section class="albums">
      <section class="cards">
        <div th:each="album : ${albums}" class="card">
          <img th:alt="${album.title}" th:src="${album.imageUrl}">
          <div class="cardInfo">
            <p th:text="'Album Title: ' + ${album.title}"></p>
            <p th:text="'Artist: ' + ${album.artist}"></p>
            <p th:text="'Number of Songs: ' + ${album.songCount}"></p>
            <p th:text="'Album Length: ' + ${album.length}"></p>
          </div>
        </div>
      </section>
    </section>
  </main>

  <script th:src="@{/assets/js/mainToggle.js}"></script>
</body>

</html>